In [21]:
%matplotlib inline

In [22]:
import pandas as pd

In [23]:
!pwd

/Users/soledadmusella/iCloud Drive (Archive)/Desktop/mod_1_project/opportunity_youth/notebooks

In [24]:
df = pd.read_csv("kingcounty.csv")

In [25]:
df.shape

(8915, 43)

In [26]:
df.head()

,tabblk2010,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,...,stanrcname,necta,nectname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate
0,530330311004021,53,WA,Washington ...,53033,"King County, WA ...",53033031100,"311 (King, WA) ...",530330311004,"4 (Tract 311, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.293068,-122.209781,2019-08-26
1,530330311004020,53,WA,Washington ...,53033,"King County, WA ...",53033031100,"311 (King, WA) ...",530330311004,"4 (Tract 311, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.292507,-122.210964,2019-08-26
2,530330306002025,53,WA,Washington ...,53033,"King County, WA ...",53033030600,"306 (King, WA) ...",530330306002,"2 (Tract 306, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.301755,-122.196667,2019-08-26
3,530330305012016,53,WA,Washington ...,53033,"King County, WA ...",53033030501,"305.01 (King, WA) ...",530330305012,"2 (Tract 305.01, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.311107,-122.227230,2019-08-26
4,530330305012019,53,WA,Washington ...,53033,"King County, WA ...",53033030501,"305.01 (King, WA) ...",530330305012,"2 (Tract 305.01, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.310999,-122.229889,2019-08-26

In [27]:
!pip install geopandas

Requirement already satisfied: geopandas in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (0.7.0)
Requirement already satisfied: fiona in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from geopandas) (1.8.13.post1)
Requirement already satisfied: pyproj>=2.2.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from geopandas) (2.5.0)
Requirement already satisfied: shapely in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from geopandas) (1.7.0)
Requirement already satisfied: pandas>=0.23.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from geopandas) (0.23.4)
Requirement already satisfied: attrs>=17 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from fiona->geopandas) (19.3.0)
Requirement already satisfied: click<8,>=4.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from fiona->geopandas) (7.0)
Requirement already satisfied: munch in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: six>=1.7 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from fiona->geopandas) (1.11.0)
Requirement already satisfied: click-plugins>=1.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from fiona->geopandas) (0.5.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2011k in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from pandas>=0.23.0->geopandas) (2018.5)
Requirement already satisfied: numpy>=1.9.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from pandas>=0.23.0->geopandas) (1.17.4)

In [28]:
import geopandas

ModuleNotFoundError: No module named 'geopandas'

In [ ]:
world = geopandas.read_file(
    geopandas.datasets.get_path('naturalearth_lowres')
)
boroughs = geopandas.read_file(
    geoplot.datasets.get_path('nyc_boroughs')
)
collisions = geopandas.read_file(
    geoplot.datasets.get_path('nyc_injurious_collisions')
)

In [ ]:
import folium

In [ ]:
map_osm = folium.Map(location=[47.281505, -122.152278], zoom_start=11)
#df.apply(lambda row:folium.CircleMarker(location=[row["blklatdd"], row["blklondd"]]).add_to(map_osm), axis=1)
map_osm

In [ ]:
df2= pd.read_csv("QueryResults.csv")

In [ ]:
df2.shape

In [29]:
df2.head(10)

NameError: name 'df2' is not defined

In [30]:
df_age = df2[(df2["agep"]>=16)&(df2["agep"]<=24)]

NameError: name 'df2' is not defined

In [31]:
df_age.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
10,P,2013000003570,9,1,11610,4,53,1061971,20,24,...,23,33,19,5,18,33,33,24,22,20
11,P,2013000003570,9,2,11610,4,53,1061971,15,24,...,16,26,14,4,17,24,29,14,15,16
23,P,2013000007063,9,2,11612,4,53,1061971,30,19,...,13,44,23,39,26,40,41,10,32,13
25,P,2013000008046,9,2,11613,4,53,1061971,36,17,...,35,39,9,32,43,55,8,54,53,38
29,P,2013000010953,9,3,11610,4,53,1061971,15,18,...,25,17,21,28,25,14,29,21,9,6

In [32]:
df_age_unique = df_age[(df_age["esr"]==3) | (df_age["esr"]==6)]

In [33]:
df_age_unique.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
23,P,2013000007063,9,2,11612,4,53,1061971,30,19,...,13,44,23,39,26,40,41,10,32,13
25,P,2013000008046,9,2,11613,4,53,1061971,36,17,...,35,39,9,32,43,55,8,54,53,38
29,P,2013000010953,9,3,11610,4,53,1061971,15,18,...,25,17,21,28,25,14,29,21,9,6
30,P,2013000010953,9,4,11610,4,53,1061971,9,16,...,9,11,10,13,13,10,11,16,8,2
38,P,2013000011255,9,2,11614,4,53,1061971,13,17,...,24,13,4,3,4,13,24,4,15,13

In [34]:
df_age_unique.shape

(1735, 286)

In [35]:
df_was=pd.read_csv("naweedquery.csv")

In [36]:
df_was.head()

,state_fips,state_name,cpuma0010,puma,geoid,gisjoin,puma_name
0,1,Alabama ...,14,1900,101900,G01001900,Lee County--Auburn City ...
1,1,Alabama ...,16,2300,102300,G01002300,"Coffee, Covington, Butler & Crenshaw Counties ..."
2,6,California ...,108,6103,606103,G06006103,Placer County (East/High Country Region)--Aubu...
3,10,Delaware ...,198,200,1000200,G10000200,Kent County--Dover City ...
4,17,Illinois ...,337,3531,1703531,G17003531,"Chicago City (South)--Auburn Gresham, Roseland..."

In [37]:
df_was[df_was["state_fips"]==53]["puma"].unique()

array([11610, 11613, 11614, 11615, 11611, 11612])

In [38]:
df_was2=pd.read_csv("ws_rm.csv")

In [39]:
df_was2.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
0,P,2013000000082,9,1,11615,4,53,1061971,90,40,...,119,152,33,30,100,77,115,85,114,29
1,P,2013000000082,9,2,11615,4,53,1061971,78,11,...,124,148,21,30,93,75,91,79,116,31
2,P,2013000000082,9,3,11615,4,53,1061971,60,9,...,112,102,20,23,58,50,80,58,102,17
3,P,2013000000082,9,4,11615,4,53,1061971,109,48,...,127,177,46,37,110,123,135,95,132,41
4,P,2013000000082,9,5,11615,4,53,1061971,108,48,...,127,176,47,37,110,123,135,96,133,41

In [40]:
df_was2.shape

(34145, 286)

In [41]:
df_age = df_was2[(df_was2["agep"]>=16)&(df_was2["agep"]<=24)]

In [42]:
df_work = df_age[(df_age["esr"]==3) | (df_age["esr"]==6)]

In [43]:
df_work.shape

(1735, 286)

In [44]:
df_work.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
23,P,2013000007063,9,2,11612,4,53,1061971,30,19,...,13,44,23,39,26,40,41,10,32,13
25,P,2013000008046,9,2,11613,4,53,1061971,36,17,...,35,39,9,32,43,55,8,54,53,38
29,P,2013000010953,9,3,11610,4,53,1061971,15,18,...,25,17,21,28,25,14,29,21,9,6
30,P,2013000010953,9,4,11610,4,53,1061971,9,16,...,9,11,10,13,13,10,11,16,8,2
38,P,2013000011255,9,2,11614,4,53,1061971,13,17,...,24,13,4,3,4,13,24,4,15,13

In [45]:
df_1618 = df_work[(df_work["agep"]>=16)&(df_work["agep"]<=18)]

In [102]:
df_1618["agep"].count()

1020

In [47]:
df_1921 = df_work[(df_work["agep"]>=19)&(df_work["agep"]<=21)]

In [101]:
df_1921["agep"].count()

416

In [49]:
df_2224 = df_work[(df_work["agep"]>=22)&(df_work["agep"]<=24)]

In [100]:
df_2224["agep"].count()

299

In [104]:
df_no_diploma = df_work[df_work["schl"]==12]

In [105]:
df_no_diploma["schl"].count()

168

In [106]:
df_work.loc[(df_work['agep'] < 16), 'Age_Group'] = 'other'

In [89]:
df_work.loc[(df_work["agep"]>24), "Age_Group"] ="other"

In [91]:
df_work.loc[((df_work['agep'] >= 16) & (df_work['agep'] <=18)) ,  'Age_Group'] = '16-18'

In [93]:
df_work.loc[((df_work['agep'] >= 19) & (df_work['agep'] <=21)) ,  'Age_Group'] = '19-21'

In [97]:
df_work.loc[((df_work['agep'] >= 22) & (df_work['agep'] <=24)) ,  'Age_Group'] = '22-24'

In [99]:
df_work.groupby('Age_Group').agg(Counts=('Age_Group','count'))

           Counts
Age_Group
16-18        1020
19-21         416
22-24         299