2) An update of the estimated number of OY in South King County

In [83]:
%matplotlib inline

In [84]:
import pandas as pd

In [85]:
!pwd

/Users/soledadmusella/Documents/mod_1_project/opportunity_youth/notebooks

In [86]:
df = pd.read_csv("kingcounty.csv")

In [87]:
df.shape

(8915, 43)

In [88]:
df.head()

,tabblk2010,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,...,stanrcname,necta,nectname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate
0,530330311004021,53,WA,Washington ...,53033,"King County, WA ...",53033031100,"311 (King, WA) ...",530330311004,"4 (Tract 311, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.293068,-122.209781,2019-08-26
1,530330311004020,53,WA,Washington ...,53033,"King County, WA ...",53033031100,"311 (King, WA) ...",530330311004,"4 (Tract 311, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.292507,-122.210964,2019-08-26
2,530330306002025,53,WA,Washington ...,53033,"King County, WA ...",53033030600,"306 (King, WA) ...",530330306002,"2 (Tract 306, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.301755,-122.196667,2019-08-26
3,530330305012016,53,WA,Washington ...,53033,"King County, WA ...",53033030501,"305.01 (King, WA) ...",530330305012,"2 (Tract 305.01, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.311107,-122.227230,2019-08-26
4,530330305012019,53,WA,Washington ...,53033,"King County, WA ...",53033030501,"305.01 (King, WA) ...",530330305012,"2 (Tract 305.01, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.310999,-122.229889,2019-08-26

In [89]:
df2= pd.read_csv("QueryResults.csv")

In [90]:
df2.shape

(34145, 7)

In [91]:
df2.head(10)

,esr,agep,sch,schg,schl,puma_name,state_name
0,6.0,43,1.0,NaN,19.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
1,6.0,65,1.0,NaN,16.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
2,6.0,73,1.0,NaN,20.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
3,6.0,71,1.0,NaN,20.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
4,1.0,30,1.0,NaN,22.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
5,1.0,24,1.0,NaN,21.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
6,1.0,24,1.0,NaN,21.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
7,1.0,47,1.0,NaN,16.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
8,1.0,43,1.0,NaN,16.0,"King County (Southeast)--Maple Valley, Covingt...",Washington ...
9,1.0,40,1.0,NaN,18.0,"King County (Southeast)--Maple Valley, Covingt...",Washington ...

In [92]:
df_age = df2[(df2["agep"]>=16)&(df2["agep"]<=24)]

In [93]:
df_age.head()

,esr,agep,sch,schg,schl,puma_name,state_name
5,1.0,24,1.0,NaN,21.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
6,1.0,24,1.0,NaN,21.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
18,6.0,19,2.0,15.0,18.0,"King County (Far Southwest)--Federal Way, Des ...",Washington ...
20,6.0,17,2.0,13.0,13.0,King County (Southwest Central)--Kent City ...,Washington ...
24,6.0,18,2.0,15.0,18.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...

In [94]:
df_age_unique = df_age[((df_age["esr"]==3) | (df_age["esr"]==6)) & (df_age["sch"]==1)]

In [95]:
df_age_unique.head()

,esr,agep,sch,schg,schl,puma_name,state_name
160,6.0,19,1.0,NaN,17.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
242,6.0,20,1.0,NaN,16.0,"King County (Southeast)--Maple Valley, Covingt...",Washington ...
251,6.0,22,1.0,NaN,19.0,"King County (Far Southwest)--Federal Way, Des ...",Washington ...
283,3.0,21,1.0,NaN,16.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
285,6.0,17,1.0,NaN,13.0,King County (Southwest)--Auburn City & Lakelan...,Washington ...

In [96]:
df_age_unique["sch"].unique()

array([1.])

In [97]:
df_age_unique.shape

(391, 7)

In [98]:
df_was = pd.read_csv("qquery.csv")

In [99]:
df_was.head()

,state_fips,state_name,cpuma0010,puma,geoid,gisjoin,puma_name
0,1,Alabama ...,14,1900,101900,G01001900,Lee County--Auburn City ...
1,1,Alabama ...,16,2300,102300,G01002300,"Coffee, Covington, Butler & Crenshaw Counties ..."
2,6,California ...,108,6103,606103,G06006103,Placer County (East/High Country Region)--Aubu...
3,10,Delaware ...,198,200,1000200,G10000200,Kent County--Dover City ...
4,17,Illinois ...,337,3531,1703531,G17003531,"Chicago City (South)--Auburn Gresham, Roseland..."

In [100]:
df_was[df_was["state_fips"]==53]["puma"].unique()

array([11610, 11613, 11614, 11615, 11611, 11612])

In [101]:
df_was2=pd.read_csv("ws_rm.csv")

In [102]:
df_was2["esr"].unique()

array([ 1., nan,  6.,  3.,  4.,  2.,  5.])

In [103]:
df_was2.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
0,P,2013000000082,9,1,11615,4,53,1061971,90,40,...,119,152,33,30,100,77,115,85,114,29
1,P,2013000000082,9,2,11615,4,53,1061971,78,11,...,124,148,21,30,93,75,91,79,116,31
2,P,2013000000082,9,3,11615,4,53,1061971,60,9,...,112,102,20,23,58,50,80,58,102,17
3,P,2013000000082,9,4,11615,4,53,1061971,109,48,...,127,177,46,37,110,123,135,95,132,41
4,P,2013000000082,9,5,11615,4,53,1061971,108,48,...,127,176,47,37,110,123,135,96,133,41

In [104]:
df_was2.shape

(34145, 286)

In [105]:
df_age = df_was2[(df_was2["agep"] >= 16) & (df_was2["agep"] <= 24)]

In [106]:
df_work = df_age[((df_age["esr"] == 3) | (df_age["esr"] == 6)) & (df_age["sch"] == 1)]
df_work.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
154,P,2013000030421,9,2,11611,4,53,1061971,11,19,...,16,12,10,9,9,10,13,11,10,10
201,P,2013000048962,9,5,11612,4,53,1061971,25,22,...,7,37,24,44,26,7,25,9,39,7
257,P,2013000047506,9,4,11615,4,53,1061971,5,20,...,1,6,6,7,5,2,4,1,6,1
275,P,2013000057563,9,5,11611,4,53,1061971,20,21,...,6,7,24,23,6,33,19,33,33,18
278,P,2013000059060,9,2,11610,4,53,1061971,19,22,...,7,20,16,5,21,5,20,15,17,5

In [107]:
df_work["serialno"].nunique() # need to figured out if serialno is the identifier of the OYs

363

In [108]:
df_work.shape[0]

391

2.2) Breakdown by PUMA

In [109]:
df_work.groupby(["puma"])['serialno'].nunique().reset_index()

    puma  serialno
0  11610        45
1  11611        67
2  11612        55
3  11613        73
4  11614        71
5  11615        52

3)“Opportunity Youth Status by Age” 1 st TABLE

In [155]:
dfq3 = pd.read_csv('../data/processed/question_3_base.csv')
dfq3.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
0,P,2014000230610,9,3,11610,4,53,1045195,14,23,...,3,18,14,4,15,26,27,27,17,5
1,P,2014000237905,9,3,11611,4,53,1045195,34,19,...,48,37,55,56,52,55,25,37,25,8
2,P,2014000240322,9,2,11612,4,53,1045195,46,20,...,46,53,18,40,84,57,13,15,45,55
3,P,2014000240322,9,3,11612,4,53,1045195,33,19,...,30,26,10,36,50,25,14,11,36,47
4,P,2014000243521,9,1,11614,4,53,1045195,27,19,...,28,21,15,37,35,35,33,8,38,50

convert age column into 3 categories : 16-18, 19-21, 22-24

In [156]:
dfq3['age_category'] = pd.cut(dfq3["agep"], [15, 18, 21, 24], labels=['16-18',"19-21","22-24"])
dfq3.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80,age_category
0,P,2014000230610,9,3,11610,4,53,1045195,14,23,...,18,14,4,15,26,27,27,17,5,22-24
1,P,2014000237905,9,3,11611,4,53,1045195,34,19,...,37,55,56,52,55,25,37,25,8,19-21
2,P,2014000240322,9,2,11612,4,53,1045195,46,20,...,53,18,40,84,57,13,15,45,55,19-21
3,P,2014000240322,9,3,11612,4,53,1045195,33,19,...,26,10,36,50,25,14,11,36,47,19-21
4,P,2014000243521,9,1,11614,4,53,1045195,27,19,...,21,15,37,35,35,33,8,38,50,19-21

Total Population

In [157]:
df_tot = dfq3.groupby(["age_category"])["serialno"].nunique()
df_tot

age_category
16-18     845
19-21    1037
22-24     800
Name: serialno, dtype: int64

In [158]:
tot_pop = print('Total: ', dfq3.groupby(["age_category"])["serialno"].nunique().sum() )

Total:  2682

Opportunity Youth

In [159]:
dfq3_oy = dfq3[(dfq3["sch"] == 1) & (dfq3["esr"] == 3) | (dfq3["esr"] == 6)]
dfq3_oy.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80,age_category
1,P,2014000237905,9,3,11611,4,53,1045195,34,19,...,37,55,56,52,55,25,37,25,8,19-21
2,P,2014000240322,9,2,11612,4,53,1045195,46,20,...,53,18,40,84,57,13,15,45,55,19-21
4,P,2014000243521,9,1,11614,4,53,1045195,27,19,...,21,15,37,35,35,33,8,38,50,19-21
5,P,2014000243521,9,2,11614,4,53,1045195,31,19,...,26,18,39,39,41,40,10,47,57,19-21
9,P,2014000256963,9,2,11605,4,53,1045195,14,18,...,19,18,30,11,4,14,5,4,17,16-18

In [160]:
tot_oy = dfq3_oy.groupby(["age_category"])["serialno"].nunique()
tot_oy

age_category
16-18    557
19-21    422
22-24    204
Name: serialno, dtype: int64

In [161]:
print('Total: ', dfq3_oy.groupby(["age_category"])["serialno"].nunique().sum() )

Total:  1183

Not an opportunity youth

In [162]:
df_n_o_y = df_tot - tot_oy
df_n_o_y

age_category
16-18    288
19-21    615
22-24    596
Name: serialno, dtype: int64

In [163]:
print ("Total :", df_n_o_y .sum())

Total : 1499

Working whithout diploma

In [164]:
dfq3_wwd = dfq3[(dfq3["schl"] >= 1) & (dfq3["schl"] <= 15) & (dfq3["esr"].isin([1,2,4,5]))]
dfq3_wwd.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80,age_category
17,P,2014000277033,9,1,11611,4,53,1045195,58,23,...,56,114,22,68,20,56,105,57,21,22-24
18,P,2014000277033,9,3,11611,4,53,1045195,44,22,...,50,64,15,56,15,36,72,51,19,22-24
21,P,2014000282612,9,2,11605,4,53,1045195,33,18,...,21,8,84,38,32,17,25,11,28,16-18
34,P,2014000343714,9,3,11612,4,53,1045195,6,17,...,11,13,7,5,6,10,2,9,10,16-18
35,P,2014000347361,9,3,11604,4,53,1045195,22,21,...,31,16,32,26,23,37,17,29,34,19-21

In [165]:
dfq3_wwd.groupby(["age_category"])["serialno"].nunique()

age_category
16-18    124
19-21     61
22-24     50
Name: serialno, dtype: int64

In [166]:
print('Total: ', dfq3_wwd.groupby(["age_category"])["serialno"].nunique().sum() )

Total:  235

FINAL TABLE

In [167]:
pd.DataFrame({'16-18':[557, 124, 288],'19-21':[422,61, 615],'22-24':[204,50,596], 'Total':[1183,235,1499]}, index=['Opportunity Youth','Working Without Diploma','Not an Opportunity Youth'])

                          16-18  19-21  22-24  Total
Opportunity Youth           557    422    204   1183
Working Without Diploma     124     61     50    235
Not an Opportunity Youth    288    615    596   1499

3.1)“Opportunity Youth Status by Age” 2 TABLE

No diploma

In [174]:
dfq32 = dfq3[dfq3["schl"] <= 15]
dfq32.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80,age_category
1,P,2014000237905,9,3,11611,4,53,1045195,34,19,...,37,55,56,52,55,25,37,25,8,19-21
13,P,2014000261570,9,3,11613,4,53,1045195,13,20,...,14,15,24,13,4,11,19,22,13,19-21
16,P,2014000276204,9,4,11610,4,53,1045195,9,17,...,3,9,2,9,8,9,3,2,3,16-18
17,P,2014000277033,9,1,11611,4,53,1045195,58,23,...,56,114,22,68,20,56,105,57,21,22-24
18,P,2014000277033,9,3,11611,4,53,1045195,44,22,...,50,64,15,56,15,36,72,51,19,22-24

In [251]:
tot_no_diploma = dfq32.groupby(["age_category"])["serialno"].nunique()
tot_no_diploma

age_category
16-18    592
19-21    146
22-24     83
Name: serialno, dtype: int64

In [252]:
print('Total: ', tot_no_diploma.sum() )

Total:  821

HS diploma or GED

In [253]:
dfq33 = dfq3[(dfq3["schl"] == 16) | (dfq3["schl"] == 17)]
dfq33.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80,age_category
10,P,2014000261441,9,3,11612,4,53,1045195,40,23,...,62,65,43,10,47,32,26,44,37,22-24
11,P,2014000261441,9,4,11612,4,53,1045195,39,23,...,61,66,43,10,47,33,26,45,38,22-24
12,P,2014000261441,9,5,11612,4,53,1045195,29,18,...,55,54,29,10,42,31,42,19,46,16-18
28,P,2014000326184,9,4,11613,4,53,1045195,34,22,...,25,35,10,35,40,41,48,36,62,22-24
30,P,2014000328496,9,1,11611,4,53,1045195,18,23,...,17,19,4,5,5,7,19,7,23,22-24

In [254]:
tot_hs_ged = dfq33.groupby(["age_category"])["serialno"].nunique()
tot_hs_ged

age_category
16-18    148
19-21    355
22-24    227
Name: serialno, dtype: int64

In [255]:
print('Total: ', tot_hs_ged.sum() )

Total:  730

Some college, no degree

In [256]:
dfq34 = dfq3[(dfq3["schl"] == 18) | (dfq3["schl"] == 19)]
dfq34.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80,age_category
2,P,2014000240322,9,2,11612,4,53,1045195,46,20,...,53,18,40,84,57,13,15,45,55,19-21
3,P,2014000240322,9,3,11612,4,53,1045195,33,19,...,26,10,36,50,25,14,11,36,47,19-21
4,P,2014000243521,9,1,11614,4,53,1045195,27,19,...,21,15,37,35,35,33,8,38,50,19-21
5,P,2014000243521,9,2,11614,4,53,1045195,31,19,...,26,18,39,39,41,40,10,47,57,19-21
6,P,2014000249451,9,2,11613,4,53,1045195,32,17,...,32,29,47,14,32,15,8,36,29,16-18

In [257]:
some_college = dfq34.groupby(["age_category"])["serialno"].nunique()
some_college

age_category
16-18    114
19-21    477
22-24    262
Name: serialno, dtype: int64

In [258]:
print('Total: ', some_college.sum() )

Total:  853

Degree(Associate or higher)

In [259]:
dfq35 = dfq3[(dfq3["schl"] == 20) | (dfq3["schl"] == 21) | (dfq3["schl"] == 22) | 
             (dfq3["schl"] == 23) | (dfq3["schl"] == 24)]
dfq35.head()

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80,age_category
0,P,2014000230610,9,3,11610,4,53,1045195,14,23,...,18,14,4,15,26,27,27,17,5,22-24
7,P,2014000251651,9,1,11612,4,53,1045195,26,22,...,22,45,52,26,22,27,19,38,10,22-24
14,P,2014000264521,9,3,11612,4,53,1045195,45,21,...,51,24,57,37,16,14,47,48,53,19-21
19,P,2014000277522,9,3,11614,4,53,1045195,27,18,...,32,9,26,25,9,30,9,48,22,16-18
24,P,2014000315511,9,1,11604,4,53,1045195,14,23,...,27,12,4,20,4,12,12,16,14,22-24

In [260]:
degree = dfq35.groupby(["age_category"])["serialno"].nunique()
degree

age_category
16-18      9
19-21    119
22-24    279
Name: serialno, dtype: int64

In [261]:
print('Total: ', degree.sum() )

Total:  407

FINAL TABLE

In [263]:
pd.DataFrame({'16-18':[592, 148, 114, 9],'19-21':[146,335, 477,119],'22-24':[83,227,262,279], 'Total':[821,730,853,407]}, index=['No Diploma','HS diploma or GED','Some College, no Degree','Degree( Associate or Higher)'])

                              16-18  19-21  22-24  Total
No Diploma                      592    146     83    821
HS diploma or GED               148    335    227    730
Some College, no Degree         114    477    262    853
Degree( Associate or Higher)      9    119    279    407