In [2]:
%matplotlib inline

In [3]:
import pandas as pd

In [4]:
!pwd

/Users/aqureshi/Desktop/DS_021720/opportunity_youth/notebooks

In [5]:
df = pd.read_csv("kingcounty.csv")

In [6]:
df.shape

(8915, 43)

In [7]:
df.head()

,tabblk2010,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,...,stanrcname,necta,nectname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate
0,530330311004021,53,WA,Washington ...,53033,"King County, WA ...",53033031100,"311 (King, WA) ...",530330311004,"4 (Tract 311, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.293068,-122.209781,2019-08-26
1,530330311004020,53,WA,Washington ...,53033,"King County, WA ...",53033031100,"311 (King, WA) ...",530330311004,"4 (Tract 311, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.292507,-122.210964,2019-08-26
2,530330306002025,53,WA,Washington ...,53033,"King County, WA ...",53033030600,"306 (King, WA) ...",530330306002,"2 (Tract 306, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.301755,-122.196667,2019-08-26
3,530330305012016,53,WA,Washington ...,53033,"King County, WA ...",53033030501,"305.01 (King, WA) ...",530330305012,"2 (Tract 305.01, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.311107,-122.227230,2019-08-26
4,530330305012019,53,WA,Washington ...,53033,"King County, WA ...",53033030501,"305.01 (King, WA) ...",530330305012,"2 (Tract 305.01, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.310999,-122.229889,2019-08-26

In [8]:
import folium

ModuleNotFoundError: No module named 'folium'

In [9]:
map_osm = folium.Map(location=[47.281505, -122.152278], zoom_start=11)
# df.apply(lambda row:folium.CircleMarker(location=[row["blklatdd"], row["blklondd"]])
#                                             .add_to(map_osm), axis=1)
map_osm

NameError: name 'folium' is not defined

In [10]:
df2= pd.read_csv("QueryResults.csv")

In [11]:
df2.shape

(34145, 7)

In [12]:
df2.head(10)

,esr,agep,sch,schg,schl,puma_name,state_name
0,6.0,43,1.0,NaN,19.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
1,6.0,65,1.0,NaN,16.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
2,6.0,73,1.0,NaN,20.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
3,6.0,71,1.0,NaN,20.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
4,1.0,30,1.0,NaN,22.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
5,1.0,24,1.0,NaN,21.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
6,1.0,24,1.0,NaN,21.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
7,1.0,47,1.0,NaN,16.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
8,1.0,43,1.0,NaN,16.0,"King County (Southeast)--Maple Valley, Covingt...",Washington ...
9,1.0,40,1.0,NaN,18.0,"King County (Southeast)--Maple Valley, Covingt...",Washington ...

In [133]:
df_age = df2[(df2["agep"]>=16)&(df2["agep"]<=24)]

In [134]:
df_age.head()

,esr,agep,sch,schg,schl,puma_name,state_name
5,1.0,24,1.0,NaN,21.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
6,1.0,24,1.0,NaN,21.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
18,6.0,19,2.0,15.0,18.0,"King County (Far Southwest)--Federal Way, Des ...",Washington ...
20,6.0,17,2.0,13.0,13.0,King County (Southwest Central)--Kent City ...,Washington ...
24,6.0,18,2.0,15.0,18.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...

In [135]:
df_age_unique = df_age[(df_age["esr"]==3) | (df_age["esr"]==6)]

In [136]:
df_age_unique.head()

,esr,agep,sch,schg,schl,puma_name,state_name
18,6.0,19,2.0,15.0,18.0,"King County (Far Southwest)--Federal Way, Des ...",Washington ...
20,6.0,17,2.0,13.0,13.0,King County (Southwest Central)--Kent City ...,Washington ...
24,6.0,18,2.0,15.0,18.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
25,6.0,16,2.0,12.0,13.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
33,6.0,17,2.0,11.0,12.0,King County (Southwest)--Auburn City & Lakelan...,Washington ...

In [137]:
df_age_unique.shape

(1735, 7)

In [140]:
df_was=pd.read_csv("naweedquery.csv")

In [141]:
df_was.head()

,state_fips,state_name,cpuma0010,puma,geoid,gisjoin,puma_name
0,1,Alabama ...,14,1900,101900,G01001900,Lee County--Auburn City ...
1,1,Alabama ...,16,2300,102300,G01002300,"Coffee, Covington, Butler & Crenshaw Counties ..."
2,6,California ...,108,6103,606103,G06006103,Placer County (East/High Country Region)--Aubu...
3,10,Delaware ...,198,200,1000200,G10000200,Kent County--Dover City ...
4,17,Illinois ...,337,3531,1703531,G17003531,"Chicago City (South)--Auburn Gresham, Roseland..."

In [146]:
df_was[df_was["state_fips"]==53]["puma"].unique()

array([11610, 11613, 11614, 11615, 11611, 11612])

In [13]:
df_was2 = pd.read_csv("naweed2.csv")

In [14]:
df_was2

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
0,P,2013000000082,9,1,11615,4,53,1061971,90,40,...,119,152,33,30,100,77,115,85,114,29
1,P,2013000000082,9,2,11615,4,53,1061971,78,11,...,124,148,21,30,93,75,91,79,116,31
2,P,2013000000082,9,3,11615,4,53,1061971,60,9,...,112,102,20,23,58,50,80,58,102,17
3,P,2013000000082,9,4,11615,4,53,1061971,109,48,...,127,177,46,37,110,123,135,95,132,41
4,P,2013000000082,9,5,11615,4,53,1061971,108,48,...,127,176,47,37,110,123,135,96,133,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34140,P,2017001004954,9,4,11611,4,53,1011189,25,3,...,23,32,21,33,31,8,25,7,9,21
34141,P,2017001004954,9,5,11611,4,53,1011189,28,1,...,28,31,28,47,23,8,24,9,9,26
34142,P,2017001004954,9,6,11611,4,53,1011189,44,47,...,36,33,52,74,40,12,34,17,11,37
34143,P,2015000480764,9,1,11614,4,53,1035988,38,59,...,37,58,11,36,37,36,38,66,62,37
34144,P,2015000480764,9,2,11614,4,53,1035988,42,80,...,44,75,13,42,36,36,43,66,69,44