In [72]:
%matplotlib inline

In [73]:
import pandas as pd

In [74]:
df = pd.read_csv("kingcounty.csv")

In [75]:
df.head()

,tabblk2010,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,...,stanrcname,necta,nectname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate
0,530330311004021,53,WA,Washington ...,53033,"King County, WA ...",53033031100,"311 (King, WA) ...",530330311004,"4 (Tract 311, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.293068,-122.209781,2019-08-26
1,530330311004020,53,WA,Washington ...,53033,"King County, WA ...",53033031100,"311 (King, WA) ...",530330311004,"4 (Tract 311, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.292507,-122.210964,2019-08-26
2,530330306002025,53,WA,Washington ...,53033,"King County, WA ...",53033030600,"306 (King, WA) ...",530330306002,"2 (Tract 306, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.301755,-122.196667,2019-08-26
3,530330305012016,53,WA,Washington ...,53033,"King County, WA ...",53033030501,"305.01 (King, WA) ...",530330305012,"2 (Tract 305.01, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.311107,-122.227230,2019-08-26
4,530330305012019,53,WA,Washington ...,53033,"King County, WA ...",53033030501,"305.01 (King, WA) ...",530330305012,"2 (Tract 305.01, King, WA) ...",...,NaN,99999,NaN,NaN,NaN,53000005,05 Seattle/King County WIB ...,47.310999,-122.229889,2019-08-26

In [76]:
import folium

In [77]:
map_osm = folium.Map(location=[47.281505, -122.152278], zoom_start=11)
# df.apply(lambda row:folium.CircleMarker(location=[row["blklatdd"], row["blklondd"]])
#                                             .add_to(map_osm), axis=1)
map_osm

In [78]:
df2= pd.read_csv("QueryResults.csv")

In [79]:
df2.head(10)

,esr,agep,sch,schg,schl,puma_name,state_name
0,6.0,43,1.0,NaN,19.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
1,6.0,65,1.0,NaN,16.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
2,6.0,73,1.0,NaN,20.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
3,6.0,71,1.0,NaN,20.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
4,1.0,30,1.0,NaN,22.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
5,1.0,24,1.0,NaN,21.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
6,1.0,24,1.0,NaN,21.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
7,1.0,47,1.0,NaN,16.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
8,1.0,43,1.0,NaN,16.0,"King County (Southeast)--Maple Valley, Covingt...",Washington ...
9,1.0,40,1.0,NaN,18.0,"King County (Southeast)--Maple Valley, Covingt...",Washington ...

In [80]:
df_age = df2[(df2["agep"]>=16)&(df2["agep"]<=24)]

In [81]:
df_age.head()

,esr,agep,sch,schg,schl,puma_name,state_name
5,1.0,24,1.0,NaN,21.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
6,1.0,24,1.0,NaN,21.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
18,6.0,19,2.0,15.0,18.0,"King County (Far Southwest)--Federal Way, Des ...",Washington ...
20,6.0,17,2.0,13.0,13.0,King County (Southwest Central)--Kent City ...,Washington ...
24,6.0,18,2.0,15.0,18.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...

In [87]:
df_age_unique = df_age[df_age["esr"]==3]

In [88]:
df_age_unique.head()

,esr,agep,sch,schg,schl,puma_name,state_name
129,3.0,20,2.0,15.0,19.0,"King County (Southeast)--Maple Valley, Covingt...",Washington ...
283,3.0,21,1.0,NaN,16.0,"King County (West Central)--Burien, SeaTac, Tu...",Washington ...
295,3.0,22,1.0,NaN,17.0,"King County (Central)--Renton City, Fairwood, ...",Washington ...
340,3.0,24,1.0,NaN,18.0,"King County (Southeast)--Maple Valley, Covingt...",Washington ...
461,3.0,18,1.0,NaN,13.0,King County (Southwest Central)--Kent City ...,Washington ...

In [89]:
df_age_unique.shape

(266, 7)

In [85]:
df_age["esr"].unique()

array([1., 6., 4., 3., 2.])